@charset 'utf-8';

* {margin: 0; padding: 0; box-sizing: border-box;}
a {text-decoration: none; color: inherit;}
ol,ul {list-style: none;}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  font-family: Paperozi;
  background-image: url('./components/assets/img/bg.png');
}
/* Main 첫 화면 */
#app {
  background: linear-gradient(180deg,rgba(196, 16, 55, 1) 0%, rgba(94, 8, 26, 1) 85%);
  width: 360px;
  height: 640px;
  border: 1px solid #222;
  border-radius: 1rem;
  position: relative;
  padding: 1rem;
  h1 {
    position: relative;
    width: 100%;
    height: 125px;
    text-align: right;
    font-size: 3.5rem;
    font-family: Deadpool;
    color: #fff;
  }
  .main-img {
    width: 250px;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

#categories {
  padding: 1rem;
  color: #fff;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  .cate-title {
    display: flex;
    .down {width: 20px}
  }
  ul {
    li {
      cursor: pointer;
      margin: 0.5rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      .list-icon {
        width: 80px;
      }
      p{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
      }
      &:hover > img {
        filter: blur(4px);        
      }
      &:hover > p {
        opacity: 1;
      }
    }
  }
}

/* Quiz Page */
#quiz-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .top-img {
    width: 220px;
    height: 168px;
    position: relative;
    img {
      width: 100%;
      background-size: cover;
      position: absolute;
      bottom: 0;
    }
  }
  .question {
    width: 300px;
    height: 150px;
    background-color: #fff;
    border-radius: 1rem;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    box-shadow: 4px 4px 8px rgb(0 0 0 / 0.25);
    p {
      width: 272px;
      word-break: keep-all;
    }
    .score {
    color: #777;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 0.8rem;
    }
  }
  .choices {
    width: 300px;
    height: 250px;
    background-color: #fff;
    border-radius: 1rem;
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 4px 4px 8px rgb(0 0 0 / 0.25);
    li {
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      background-color: #C02B4B;
      cursor: pointer;
      border: 3px transparent;
      box-shadow: 0 0 10px rgb(0 0 0 / 0.25);
      transition: 0.3s;
      p {
        height: 100%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        word-break: keep-all;

      }
      &:hover {
        background-color: #fff;
        border: 3px solid #C02B4B;
      }
      &:hover > p {color: #C02B4B;}
    }
  }
}

/* Results */
#result {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  img {
    margin-top: 1.5rem;
  }
  .lie-img {
    width: 300px;
  }
  .total-score {
    width: 300px;
    height: 150px;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 4px 4px 8px rgb(0 0 0 / 0.25);
    .total-score-txt {
      height: 100%;
      color: #C02B4B;
      font-weight: bold;
      font-size: 3.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .btn-try {
    width: 300px;
    height: 70px;
    background-color: #fff;
    border-radius: 1rem;
    border: 3px solid #000;
    font-family: 'Paperozi';
    font-size: 1.2rem;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.25);
    &:hover {
      background-color: #C02B4B;
      color: #fff;
    }
  }
}


@media all and (max-width:360px) {
  #app {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
  }
}